<ion-header>
  <ion-navbar>
    <ion-title>
      Search
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div class="about-container">
  <div class="anytime-container">
    <h6>I want to go out</h6>
      <h1 (click)="presentModal()">Anytime</h1>
  </div>
  <div class="in-container">
    <h6>In</h6>
    <h1>Metro Manila</h1>
  </div>
</div>
</ion-content>
