<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="ribbon"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab5Root" tabIcon="person"></ion-tab>
</ion-tabs>
