<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
        <h2>Pepito Raviz Jr.</h2>
        <p>pepito.raviz@gmail.com</p>
  <ion-list inset>
    <button ion-item>
      <h2>My CPD Points</h2>
    </button>
  </ion-list>
  <ion-list inset>
    <button ion-item>
      <h2>Account Settings</h2>
    </button>
  </ion-list>

</ion-content>
