<!--
  Generated template for the TimeSelectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Time Selection</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div class="content-container">
  <h1>What time works?</h1>
  <h5>Anytime</h5>
  <h5>Today</h5>
  <h5>Tommorrow</h5>
  <h5>This weekend</h5>
  <h5>In the next month</h5>
  <h5>Pick a date..</h5>
</div>

</ion-content>
