page-contact {
	ion-item {
		position: relative;
	}
	.event-label {
		&.success {
			background-color: green;
		}
		&.failed {
			background-color: red;
		}
		color: white;
		font-weight: bold;
		font-size: 12px;
		padding: 5px;
		border-radius: 2em;
		width: 6em;
		text-align: center;
		position: absolute;
		right: 0;
		top: 0;
		transform: translateX(-5px) translateY(5px);
	}
}
