<ion-header>
  <ion-navbar>
    <ion-title>
      My Seminars
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="assets/imgs/cover.jpg">
    </ion-thumbnail>
    <h2>Global Youth</h2>
    <h2>Summit 2018</h2>
    <p>Sat, Aug 25 - 12:00PM GMT+08:00</p>
    <p>Mall of Asia Arena</p>
    <p class="event-label success" item-end>Done</p>
  </ion-item>

  <ion-item>
    <ion-thumbnail item-start>
      <img src="assets/imgs/cover.jpg">
    </ion-thumbnail>
    <h2>Global Youth</h2>
    <h2>Summit 2018</h2>
    <p>Sat, Aug 25 - 12:00PM GMT+08:00</p>
    <p>Mall of Asia Arena</p>
    <p class="event-label success" item-end>Done</p>

  </ion-item>

  <ion-item>
    <ion-thumbnail item-start>
      <img src="assets/imgs/cover.jpg">
    </ion-thumbnail>
    <h2>Global Youth</h2>
    <h2>Summit 2018</h2>
    <p>Sat, Aug 25 - 12:00PM GMT+08:00</p>
    <p>Mall of Asia Arena</p>
    <p class="event-label failed" item-end>Lapsed</p>
  </ion-item>

  <ion-item>
    <ion-thumbnail item-start>
      <img src="assets/imgs/cover.jpg">
    </ion-thumbnail>
    <h2>Global Youth</h2>
    <h2>Summit 2018</h2>
    <p>Sat, Aug 25 - 12:00PM GMT+08:00</p>
    <p>Mall of Asia Arena</p>
    <p class="event-label success" item-end>Done</p>

  </ion-item>

  <ion-item>
    <ion-thumbnail item-start>
      <img src="assets/imgs/cover.jpg">
    </ion-thumbnail>
    <h2>Global Youth</h2>
    <h2>Summit 2018</h2>
    <p>Sat, Aug 25 - 12:00PM GMT+08:00</p>
    <p>Mall of Asia Arena</p>
    <p class="event-label failed" item-end>Lapsed</p>

  </ion-item>

  <ion-item>
    <ion-thumbnail item-start>
      <img src="assets/imgs/cover.jpg">
    </ion-thumbnail>
    <h2>Global Youth</h2>
    <h2>Summit 2018</h2>
    <p>Sat, Aug 25 - 12:00PM GMT+08:00</p>
    <p>Mall of Asia Arena</p>
    <p class="event-label success" item-end>Done</p>

  </ion-item>

</ion-content>
