<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="../../assets/imgs/cover.jpg" />
    <ion-card-content>
      <div class="event-details-container">
          <div class="date-container">
            <p>aug</p>
            <p>17</p>
          </div>

          <div class="details-container">
            <div class="title-container">
              <h2>Internet of Things</h2>
              <h2>Summit Philippines</h2>
            </div>
            <p>Megatrade Hall 3</p>
            <p>on Eventbrite</p>
          </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- <div class="event-thumbnail-container">
    <div class="thumbnail-image-container">
        <img  class="thumbnail" src="assets/imgs/cover.jpg">
    </div>
    <div class="thumbnail-details">

    </div>
  </div> -->
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/cover.jpg">
      </ion-thumbnail>
      <h2>Global Youth</h2>
      <h2>Summit 2018</h2>
      <p>Sat, Aug 25 - 12:00PM GMT+08:00</p>
      <p>Mall of Asia Arena</p>
    </ion-item>
</ion-content>
