page-home {
	.event-details-container {
		display: flex;
		flex-direction: row;
	}
	.date-container {
		padding: 0em 2em 1em 1em;
		text-transform: uppercase;
		text-align: center;
	}
	.event-thumbnail-container {
		display: flex;
		flex-direction: row;
		background-color: red;
	}
	.thumbnail-image-container {
		border-color: black;
		border: 10em;
		padding: 5em;
		background-color: blue;
	}
	.thumbnail {
		width: 10em;
		height: 10em;
	}
}
