<!--
  Generated template for the InvoicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Invoice</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list inset>
    <button ion-item >
      <h2>UHACK MANILA</h2>
      <p>December 2, 2017</p>
    </button>
  </ion-list>

  <ion-list inset>
    <button ion-item>
      <h2>Code Fusion</h2>
      <p>November 25, 2017</p>
    </button>
  </ion-list>

  <ion-list inset>
    <button ion-item>
      <h2>DevCon Summit</h2>
      <p>November 18, 2017</p>
    </button>
  </ion-list>

  <ion-list inset>
    <button ion-item>
      <h2>Startup Project PH 2017</h2>
      <p>June 2, 2017</p>
    </button>
  </ion-list>

</ion-content>
